*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body{
    background-color:rgb(40, 3, 88);
 }

 main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }

 canvas {
    background-color: #fff;
    cursor: crosshair;
    margin: 20px auto;
    border-radius: 5px;
 }

 .buttons{
    display: flex;
    padding: 10px;
    background-color:rgb(241, 162, 16);
    border-radius: 5px;
 }

 input {
    border-radius: 5px;
    border: none;
    cursor: pointer;
 }

 .clear {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 6px 10px;
    margin-left: 10px;
 }